html {
    background-color: beige;
    font-size: 16px;
}

html::-webkit-scrollbar  
{  
    display: none;
}

*{
    margin:0;
    padding: 0;
}
  
/* body {
    font: 14px "Century Gothic", Futura, sans-serif;
} */
  
.navbar{
    width: 100%;
    background-color: #272826;
    /* color: #eaebe6; */
}

#pageContent{
    margin: 1em auto 1em auto;
}

.content-div{
    width: 96%;
    overflow: hidden;
    margin: 1em auto 1em auto;
    background-color: #c5e8fc;
    border-radius: 0.3em;
}
.content{
    width: 98.7%;
    margin: 0.5em;
    overflow: hidden;
}

.left{
    float: left;
    width: 70%;
}

.right{
    float: right;
    width: 29%;
    color: white;
} 

.mail-ic, .qq-ic, .wc-ic, .git-ic{
    display: inline-block;
    width: 2.3em;
    height: 2em;
    margin: 0 2em;
}

.ant-back-top {
    bottom: 100px;
    /* color: #bfc2bb; */
  }

.ant-back-top-inner {
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 4px;
    background-color: #1088e9;
    color: #fff;
    text-align: center;
    font-size: 20px;
  }

  .card-header{
    color : black;
 }

 body{
     font-size: 1rem !important;
     background-color: transparent !important;
 }
 .ant-list-item-extra{
     width: 30% !important;
 }

 @media only screen and (max-width:750px) {  
    .left{
        width: 97%;
    }
    .right{
        display: none;
    }
}