html {
    background-color: beige;
}

*{
    margin:0;
    padding: 0;
}
  
/* body {
    font: 14px "Century Gothic", Futura, sans-serif;
} */
  
.navbar{
    width: 100%;
    background-color: #272826;
}

.content-div{
    width: 61.6em;
    overflow: hidden;
    margin: 1em auto 1em auto;
    background-color: #c5e8fc;
    border-radius: 0.3em;
}

.content{
    width: 60.6em;
    margin: 0.5em 0.5em 0 0.5em;
}

.left{
    float: left;
    width: 70%;
}

.right{
    float: right;
    width: 29%;
    background-color: rgb(235, 160, 160);
    color: white;
}