<!DOCTYPE html>
<html lang="en">
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <link rel="shortcut icon" href="/admin/static/image/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes">
    <meta name="theme-color" content="#000000" />
    <!--
      manifest.json provides metadata used when your web app is installed on a
      user's mobile device or desktop. See https://developers.google.com/web/fundamentals/web-app-manifest/
    -->
    <link rel="stylesheet" href="/admin/static/css/common.css" type="text/css"/>
    <link rel="stylesheet" href="https://s0.meituan.net/xm/open-platform-static/editormd/css/editormd.css" />
    <title>Myblog后台管理系统</title>
  </head>
  <body>
    <noscript>You need to enable JavaScript to run this website.</noscript>
    <div id="editor"></div>
    <script src="/output/js/admin/view/blogEdit/index.bundle.js"></script>
    <script src="//s0.meituan.net/xm/static/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://s0.meituan.net/xm/open-platform-static/editormd/editormd.js"></script>
  </body>
</html>
