<!DOCTYPE html>
<html lang="en">
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <link rel="shortcut icon" href="/images/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes">
    <meta name="theme-color" content="#000000" />
    <!--
      manifest.json provides metadata used when your web app is installed on a
      user's mobile device or desktop. See https://developers.google.com/web/fundamentals/web-app-manifest/
    -->
    <link rel="stylesheet" href="/client/static/css/common.css" type="text/css"/>
    <link rel="stylesheet" href="/client/static/css/index.css" type="text/css"/>
    <title>Myblog--首页</title>
  </head>
  <body>
    <noscript>You need to enable JavaScript to run this website.</noscript>
    <div id="weather"></div>
    <!-- <script src="/client/static/output/js/view/weather/index.bundle.js"></script> -->
    <script src="/output/js/client/view/weather/index.bundle.js"></script>
    <div id="page"></div>
    <!-- <script src="/client/static/output/js/view/main/layout/index.bundle.js"></script>
    <script src="/client/static/output/js/view/main/index/index.bundle.js"></script> -->
    <script src="/output/js/client/view/main/layout/index.bundle.js"></script>
    <script src="/output/js/client/view/main/index/index.bundle.js"></script>
  </body>
</html>
